.Item-Price
{
	font-family: pt-sans-n7, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.Heading-1
{
	font-family: allan-n7, sans-serif;
}

.team-heading
{
	font-family: fugaz-one-n4, sans-serif;
}

.Paragraph-Style,.Paragraph-Style-1,.Paragraph-Style-2,.Paragraph-Style-3,.heading-2,.Body-Heading,.Body-text,.fac_head,.fac_name,.fac_email
{
	font-family: abel-n4, sans-serif;
}

#u2918,#u2918-5
{
	font-family: asap-n7, sans-serif;
}

#u1056-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1030-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1047-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u2760-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u2700-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u2846-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u1061-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1069-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1033-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1041-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u2838-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1439-4,#u1456-4,#u1457-4,#u1458-4,#u1459-4,#u1460-4,#u1533-4,#u1532-4,#u1537-4,#u1547-4,#u1548-4,#u1549-4,#u1578-4,#u1582-4,#u1622-4,#u3109-4,#u3110-4,#u3114-4,#u1485-4,#u1478-4,#u1465-4,#u1486-4,#u1471-4,#u1469-4,#u1495-4,#u1493-4,#u1494-4,#u2900-4,#u3599-4,#u1601-4,#u1596-4,#u1597-4,#u1614-4,#u1609-4,#u3735-4,#u3739-4,#u3755-4,#u3759-4,#u3905-4
{
	font-family: ubuntu-i4, sans-serif;
}

