.Item-Price
{
	font-family: pt-sans-n7, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.Heading-1
{
	font-family: allan-n7, sans-serif;
}

.team-heading
{
	font-family: fugaz-one-n4, sans-serif;
}

.Paragraph-Style,.Paragraph-Style-1,.Paragraph-Style-2,.Paragraph-Style-3,.heading-2,.Body-Heading,.Body-text,.fac_head,.fac_name,.fac_email
{
	font-family: abel-n4, sans-serif;
}

#u2918,#u2918-5
{
	font-family: asap-n7, sans-serif;
}

#u1056-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1030-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1047-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u2760-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u2700-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u2846-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u1061-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1069-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1033-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1041-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u2838-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1752,#u1752-3,#u1752-10
{
	font-family: ubuntu-n7, sans-serif;
}

#u3173-4,#u3177-4,#u3175-4,#u3726,#u3375-2,#u3445-6,#u3484-6,#u3665-6,#u3845-6,#u3869-6,#u3878-6,#u3887-6,#u3787-7,#u3683-7,#u3722-6,#u3692-6,#u3674-6,#u3493-8,#u283-3 > #u283-2:before,#u283-7 > #u283-6:before,#u283-11 > #u283-10:before,#u283-15 > #u283-14:before,#u283-19 > #u283-18:before,#u283-23 > #u283-22:before,#u2648-4,#u3066-5 > #u3066-4:before,#u237,#u3199-23,#u3210-4,#u3213-5,#u1973-5,#u3606-4,#u3609-4
{
	font-family: abel-n4, sans-serif;
}

