.Item-Price
{
	font-family: pt-sans-n7, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.Heading-1
{
	font-family: allan-n7, sans-serif;
}

.team-heading
{
	font-family: fugaz-one-n4, sans-serif;
}

.Paragraph-Style,.Paragraph-Style-1,.Paragraph-Style-2,.Paragraph-Style-3,.heading-2,.Body-Heading,.Body-text,.fac_head,.fac_name,.fac_email
{
	font-family: abel-n4, sans-serif;
}

#u2918,#u2918-5
{
	font-family: asap-n7, sans-serif;
}

#u1056-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1030-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1047-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u2760-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u2700-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u2846-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u1061-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1069-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1033-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1041-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u2838-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u2367-7
{
	font-family: ubuntu-n7, sans-serif;
}

#u3894,#u2639.TabbedPanelsTabSelected #u2642-4 p,#u2642-4
{
	font-family: abel-n4, sans-serif;
}

#u2637-4
{
	font-family: abel-n4, sans-serif;
}

#u2645-4
{
	font-family: abel-n4, sans-serif;
}

#u2629-4,#u2628-6,#u2630-4,#u2633-4,#u2632-8,#u2625-4,#u2626-10,#u2621-4,#u2622-6,#u2613-4,#u2619-4,#u2618-8,#u2615-4,#u2616-10,#u2602-4,#u2611-4,#u2610-6,#u2607-4,#u2608-8,#u2604-4,#u2605-10
{
	font-family: abel-n4, sans-serif;
}

