.Item-Price
{
	font-family: pt-sans-n7, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.Heading-1
{
	font-family: allan-n7, sans-serif;
}

.team-heading
{
	font-family: fugaz-one-n4, sans-serif;
}

.Paragraph-Style,.Paragraph-Style-1,.Paragraph-Style-2,.Paragraph-Style-3,.heading-2,.Body-Heading,.Body-text,.fac_head,.fac_name,.fac_email
{
	font-family: abel-n4, sans-serif;
}

#u2918,#u2918-5
{
	font-family: asap-n7, sans-serif;
}

#u1056-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1030-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1047-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u2760-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u2700-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u2846-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u1061-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1069-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1033-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1041-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u2838-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u2024-8,#u2025-8,#u2026-10,#u2027-6
{
	font-family: ubuntu-i4, sans-serif;
}

#u1995-5,#u2073-13,#u3071-5,#u3093-2,#u3093-5,#u3094-2,#u3094-5,#u2131.TabbedPanelsTabSelected #u2133-4 p,#u2133-4
{
	font-family: abel-n4, sans-serif;
}

#u2125-4
{
	font-family: abel-n4, sans-serif;
}

#u2116-4
{
	font-family: abel-n4, sans-serif;
}

#u2205-4,#u2207-4,#u2206-6,#u2210-4,#u2211-8,#u2213-4,#u2214-10,#u2260-4,#u2244-4,#u2243-6,#u2247-4,#u2246-8,#u2249-4,#u2250-10,#u2262-4,#u2253-4,#u2252-6,#u2256-4,#u2255-8,#u2258-4,#u2259-10
{
	font-family: abel-n4, sans-serif;
}

