.Item-Price
{
	font-family: pt-sans-n7, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.Heading-1
{
	font-family: allan-n7, sans-serif;
}

.team-heading
{
	font-family: fugaz-one-n4, sans-serif;
}

.Paragraph-Style,.Paragraph-Style-1,.Paragraph-Style-2,.Paragraph-Style-3,.heading-2,.Body-Heading,.Body-text,.fac_head,.fac_name,.fac_email
{
	font-family: abel-n4, sans-serif;
}

#u2918,#u2918-5
{
	font-family: asap-n7, sans-serif;
}

#u1056-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1030-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1047-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u2760-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u2700-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u2846-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u1061-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1069-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1033-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u1041-4
{
	font-family: ubuntu-n5, sans-serif;
}

#u2838-4
{
	font-family: ubuntu-n5, sans-serif;
}

