.version.registration /* version checker */
{
	color: #0000E3;
	background-color: #0BA86B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 1068.8499999999992px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -60px;
	width: 0.01px;
}

#pu1020
{
	width: 0.01px;
	padding-bottom: 122px;
	margin-left: -100px;
}

#u1020
{
	z-index: 134;
	height: 122px;
	top: 0px;
}

#u1020-bw
{
	z-index: 134;
}

#u2918-7
{
	z-index: 205;
	width: 194px;
	min-height: 68px;
	top: 5px;
	left: 50%;
	margin-left: -480px;
}

#u2919
{
	z-index: 212;
	width: 78px;
	top: 5px;
	left: 50%;
	margin-left: -558px;
}

#menuu1023
{
	z-index: 135;
	width: 782px;
	top: 75px;
	left: 50%;
	margin-left: -279px;
}

#u1052
{
	width: 79px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1053
{
	width: 79px;
	padding-bottom: 15px;
}

#u1053:hover
{
	width: 79px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u1053.MuseMenuActive
{
	width: 79px;
	min-height: 0px;
	margin: 0px;
}

#u1056-4
{
	width: 46px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 16px;
}

#u1053:hover #u1056-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u1053.MuseMenuActive #u1056-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u1024
{
	width: 85px;
	min-height: 34px;
	margin-right: -10000px;
	left: 79px;
}

#u1027
{
	width: 85px;
	padding-bottom: 15px;
}

#u1027:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u1027.MuseMenuActive
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u1030-4
{
	width: 52px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 16px;
}

#u1027:hover #u1030-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u1027.MuseMenuActive #u1030-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u1045
{
	width: 95px;
	min-height: 34px;
	margin-right: -10000px;
	left: 164px;
}

#u1046
{
	width: 95px;
	padding-bottom: 15px;
}

#u1046:hover
{
	width: 95px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u1046.MuseMenuActive
{
	width: 95px;
	min-height: 0px;
	margin: 0px;
}

#u1047-4
{
	width: 42px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 16px;
}

#u1046:hover #u1047-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u1046.MuseMenuActive #u1047-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u1048
{
	z-index: 154;
	width: 14px;
	height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 64px;
}

#u1046:hover #u1048
{
	width: 14px;
	height: 19px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1046.MuseMenuActive #u1048
{
	width: 14px;
	height: 19px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1050
{
	width: 172px;
	top: 34px;
}

#u1051
{
	width: 162px;
	padding-left: 5px;
	padding-right: 5px;
}

#u2758
{
	width: 162px;
}

#u2759
{
	width: 160px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u2759:hover
{
	width: 160px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2760-4
{
	width: 123px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 9px;
}

#u2759:hover #u2760-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u2759.MuseMenuActive #u2760-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 123px;
	margin: 0px -10000px 0px 0px;
}

#u2698
{
	width: 160px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u2759.MuseMenuActive,#u2698:hover
{
	width: 160px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2700-4
{
	width: 115px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 13px;
}

#u2698:hover #u2700-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u2698.MuseMenuActive #u2700-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u2697,#u2843
{
	width: 162px;
	margin-top: 4px;
}

#u2844
{
	width: 160px;
	padding-bottom: 16px;
	margin-right: -10000px;
}

#u2698.MuseMenuActive,#u2844:hover
{
	width: 160px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2844.MuseMenuActive
{
	width: 160px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2846-4
{
	width: 133px;
	min-height: 19px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 8px;
	left: 7px;
}

#u2844:hover #u2846-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u2844.MuseMenuActive #u2846-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u1059
{
	width: 129px;
	min-height: 34px;
	margin-right: -10000px;
	left: 259px;
}

#u1060
{
	width: 129px;
	padding-bottom: 15px;
}

#u1060:hover
{
	width: 129px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u1060.MuseMenuActive
{
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u1061-4
{
	width: 96px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 16px;
}

#u1060:hover #u1061-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u1060.MuseMenuActive #u1061-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u1067
{
	width: 103px;
	min-height: 34px;
	margin-right: -10000px;
	left: 388px;
}

#u1068
{
	width: 103px;
	padding-bottom: 15px;
}

#u1068:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u1069-4
{
	width: 70px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 16px;
}

#u1068:hover #u1069-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u1068.MuseMenuActive #u1069-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u1031
{
	width: 103px;
	min-height: 34px;
	margin-right: -10000px;
	left: 491px;
}

#u1032
{
	width: 103px;
	padding-bottom: 15px;
}

#u1032:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u1068.MuseMenuActive,#u1032.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u1033-4
{
	width: 71px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 16px;
}

#u1032:hover #u1033-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u1032.MuseMenuActive #u1033-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u1038
{
	width: 116px;
	min-height: 34px;
	margin-right: -10000px;
	left: 594px;
}

#u1039
{
	width: 116px;
	padding-bottom: 15px;
}

#u1039:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u1039.MuseMenuActive
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1041-4
{
	width: 84px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 16px;
}

#u1039:hover #u1041-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u1039.MuseMenuActive #u1041-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 84px;
	margin: 0px -10000px 0px 0px;
}

#u2836
{
	width: 72px;
	min-height: 34px;
	margin-right: -10000px;
	left: 710px;
}

#u2837
{
	width: 72px;
	padding-bottom: 15px;
}

#u2837:hover
{
	width: 72px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u2837.MuseMenuActive
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u2838-4
{
	width: 40px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
	left: 16px;
}

#u2837:hover #u2838-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u2837.MuseMenuActive #u2838-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u3247-4
{
	z-index: 214;
	top: 90px;
	left: 50%;
	margin-left: -565px;
}

#pu829
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 29px;
}

#u829
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u828-4
{
	z-index: 4;
	width: 229px;
	min-height: 41px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 76px;
}

#u828
{
	line-height: 38px;
}

#u1857
{
	z-index: 10;
	width: 278px;
	background-color: transparent;
	margin-left: 112px;
	position: relative;
}

#ppu2669-4
{
	width: 0.01px;
	padding-bottom: 12px;
	margin-left: 202px;
	margin-top: 41px;
}

#pu2669-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 41px;
}

#u2669-4
{
	z-index: 14;
	width: 140px;
	min-height: 26px;
	-pie-box-shadow: -1px 3px 4px #D4D5D7;
	box-shadow: -1px 3px 4px rgba(40,48,56,0.2);
	background: #05375B url("../images/u2669-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#74ACDB),color-stop(100%, #05375B));
	background: -webkit-linear-gradient(top,#74ACDB ,#05375B 100%);
	background: linear-gradient(to bottom,#74ACDB ,#05375B 100%);
	border-radius: 8px;
	padding: 6px;
	line-height: 24px;
	font-weight: 700;
	position: relative;
}

#u2669-4:hover
{
	-pie-box-shadow: 0px 2px 2px #D4D5D7;
	box-shadow: 0px 2px 2px rgba(40,48,56,0.2);
	background: #8C3E07 url("../images/u2669-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FF9136),color-stop(100%, #8C3E07));
	background: -webkit-linear-gradient(top,#FF9136 ,#8C3E07 100%);
	background: linear-gradient(to bottom,#FF9136 ,#8C3E07 100%);
	padding-top: 7px;
	padding-bottom: 7px;
	min-height: 24px;
	width: 140px;
	margin: 0px;
}

.Price
{
	border-style: none;
	border-color: #000000;
	background-color: #8CC63F;
	border-radius: 6px;
}

#u2674-4
{
	z-index: 18;
	width: 186px;
	min-height: 26px;
	-pie-box-shadow: -1px 3px 4px #D4D5D7;
	box-shadow: -1px 3px 4px rgba(40,48,56,0.2);
	background: #05375B url("../images/u2669-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#74ACDB),color-stop(100%, #05375B));
	background: -webkit-linear-gradient(top,#74ACDB ,#05375B 100%);
	background: linear-gradient(to bottom,#74ACDB ,#05375B 100%);
	border-radius: 8px;
	padding: 6px;
	line-height: 24px;
	font-weight: 700;
	margin-top: 42px;
	position: relative;
}

#u2674-4:hover
{
	-pie-box-shadow: 0px 2px 2px #D4D5D7;
	box-shadow: 0px 2px 2px rgba(40,48,56,0.2);
	background: #8C3A07 url("../images/u2674-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FF9136),color-stop(100%, #8C3A07));
	background: -webkit-linear-gradient(top,#FF9136 ,#8C3A07 100%);
	background: linear-gradient(to bottom,#FF9136 ,#8C3A07 100%);
	padding-top: 7px;
	padding-bottom: 7px;
	min-height: 24px;
	width: 186px;
	margin: 42px 0px 0px;
}

#u2669-4:hover p,#u2674-4:hover p
{
	color: #1D1365;
	visibility: inherit;
}

#u2669-2,#u2674-2
{
	font-size: 20px;
	padding-top: 0px;
	color: #FF9136;
	font-family: abel, sans-serif;
}

#u1860
{
	z-index: 12;
	width: 171px;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,84,87);
	-ms-transform: matrix(0,-1,1,0,84,87);
	transform: matrix(0,-1,1,0,84,87);
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 295px;
}

#pu985-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 47px;
	margin-left: 410px;
}

#u985-4
{
	z-index: 114;
	width: 135px;
	min-height: 19px;
	background-color: transparent;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	position: relative;
}

#pu1989-4
{
	width: 0.01px;
	margin-top: 37px;
}

#u1989-4
{
	z-index: 118;
	width: 87px;
	min-height: 19px;
	background-color: transparent;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u1990
{
	z-index: 124;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 107px;
}

#u987
{
	z-index: 122;
	width: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 565px;
}

#pu2598
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 89px;
}

#u2598
{
	z-index: 3;
	min-height: 1248px;
	background-color: #DAE5F2;
}

#u2598_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	position: relative;
	left: -100px;
	padding-top: 37px;
	padding-bottom: 81px;
}

#u3811-25
{
	z-index: 86;
	width: 960px;
	min-height: 354px;
	background-color: transparent;
	font-family: abel, sans-serif;
	left: 120px;
	position: relative;
}

#u3811-2,#u3811-3
{
	font-size: 26px;
	line-height: 31px;
	color: #1D1365;
	font-weight: 400;
}

#u3811-5,#u3811-17
{
	font-size: 19px;
	line-height: 23px;
	color: #706D6D;
	font-weight: 700;
}

#u3811-14,#u3811-22
{
	counter-reset: list0;
}

#u3811-14 > li:before,#u3811-22 > li:before
{
	counter-increment: list0;
	content:  counter(list0, lower-alpha) '.';
}

#u3811-14 .list1,#u3811-22 .list1
{
	counter-reset: list1;
}

#u3811-14 .list1 > li:before,#u3811-22 .list1 > li:before
{
	counter-increment: list1;
	content:  counter(list1, lower-alpha) '.';
}

#u3811-14 .list2,#u3811-22 .list2
{
	counter-reset: list2;
}

#u3811-14 .list2 > li:before,#u3811-22 .list2 > li:before
{
	counter-increment: list2;
	content:  counter(list2, lower-roman) '.';
}

#u3811-14 .list3,#u3811-22 .list3
{
	counter-reset: list3;
}

#u3811-14 .list3 > li:before,#u3811-22 .list3 > li:before
{
	counter-increment: list3;
	content:  counter(list3, decimal) '.';
}

#u3811-14 .list4,#u3811-22 .list4
{
	counter-reset: list4;
}

#u3811-14 .list4 > li:before,#u3811-22 .list4 > li:before
{
	counter-increment: list4;
	content:  counter(list4, lower-alpha) '.';
}

#u3811-14 .list5,#u3811-22 .list5
{
	counter-reset: list5;
}

#u3811-14 .list5 > li:before,#u3811-22 .list5 > li:before
{
	counter-increment: list5;
	content:  counter(list5, lower-roman) '.';
}

#u3811-14 .list6,#u3811-22 .list6
{
	counter-reset: list6;
}

#u3811-14 .list6 > li:before,#u3811-22 .list6 > li:before
{
	counter-increment: list6;
	content:  counter(list6, decimal) '.';
}

#u3811-14 .list7,#u3811-22 .list7
{
	counter-reset: list7;
}

#u3811-14 .list7 > li:before,#u3811-22 .list7 > li:before
{
	counter-increment: list7;
	content:  counter(list7, lower-alpha) '.';
}

#u3811-14 .list8,#u3811-22 .list8
{
	counter-reset: list8;
}

#u3811-14 .list8 > li:before,#u3811-22 .list8 > li:before
{
	counter-increment: list8;
	content:  counter(list8, lower-roman) '.';
}

#u3811-7,#u3811-9,#u3811-11,#u3811-13,#u3811-15,#u3811-19,#u3811-21,#u3811-23
{
	font-size: 19px;
	line-height: 23px;
	color: #706D6D;
	font-weight: 400;
}

#u3812
{
	z-index: 111;
	width: 808px;
	height: 2px;
	border-style: solid;
	border-color: #706D6D;
	background-color: transparent;
	left: 196px;
	margin-top: 31px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u2593-64
{
	z-index: 22;
	width: 960px;
	background-color: transparent;
	left: 120px;
	margin-top: 30px;
	position: relative;
}

#u2593
{
	font-size: 26px;
	color: #1D1365;
	font-weight: 700;
	line-height: 31px;
}

#u2593-3
{
	font-size: 22px;
	line-height: 26px;
	font-weight: bold;
}

#u2593-8 > #u2593-7:before
{
	font-size: 19px;
	color: #706D6D;
	font-family: abel, sans-serif;
	font-weight: 400;
	line-height: 1.32;
}

#u2593-11 > #u2593-10:before,#u2593-28 > #u2593-21:before,#u2593-28 > #u2593-23:before,#u2593-28 > #u2593-25:before,#u2593-28 > #u2593-27:before
{
	font-size: 19px;
	color: #706D6D;
	font-family: abel, sans-serif;
	font-weight: 400;
	line-height: 1.3;
}

#u2593-6,#u2593-9,#u2593-20,#u2593-22,#u2593-24,#u2593-26
{
	line-height: 25px;
}

#u2593-4,#u2593-33
{
	font-weight: 700;
	line-height: 23px;
}

#u828-2,#u2593-2,#u2593-5,#u2593-7,#u2593-10,#u2593-16,#u2593-19,#u2593-21,#u2593-23,#u2593-25,#u2593-27,#u2593-31,#u2593-34,#u2593-40,#u2593-44
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2593-46
{
	color: #706D6D;
	font-family: abel, sans-serif;
	font-weight: 400;
	line-height: 23px;
}

#u2593-47
{
	font-size: 19px;
	color: #706D6D;
	font-family: abel, sans-serif;
	font-weight: 400;
	line-height: 23px;
}

#u2593-51,#u2593-53,#u2593-56
{
	padding-bottom: 6px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2593-41 > #u2593-40:before,#u2593-57 > #u2593-51:before,#u2593-57 > #u2593-53:before,#u2593-57 > #u2593-56:before
{
	font-size: 19px;
	color: #706D6D;
	font-family: abel, sans-serif;
	font-weight: 400;
	line-height: 1.2;
}

#u2593-36,#u2593-43,#u2593-45,#u2593-48,#u2593-52,#u2593-54
{
	color: #706D6D;
	line-height: 23px;
}

#u2593-62
{
	text-align: justify;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2593-38,#u2593-49,#u2593-58
{
	color: #0000FF;
	line-height: 23px;
}

#u2593-13,#u2593-18,#u2593-30,#u2593-35,#u2593-37,#u2593-59
{
	line-height: 23px;
}

#u2593-14,#u2593-55,#u2593-60
{
	color: #EB2B15;
	line-height: 23px;
}

#u2598-bw
{
	z-index: 3;
	min-height: 1248px;
}

#u3813
{
	z-index: 112;
	width: 30px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 731px;
}

#u2765_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	left: -100px;
}

#u1018-4
{
	z-index: 126;
	width: 373px;
	min-height: 33px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 100px;
}

#u1019-4
{
	z-index: 130;
	width: 373px;
	min-height: 33px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 727px;
}

#u2765,#u2765-bw
{
	z-index: 2;
	min-height: 46px;
}

body
{
	position: relative;
	min-width: 1000px;
	padding-top: 60px;
}

#page .verticalspacer
{
	clear: both;
}

