#u1214
{
	border-style: none;
	border-color: transparent;
	background-color: #20409A;
}

#u1214_align_to_page
{
	position: relative;
}

#u1215-7
{
	display: block;
	vertical-align: top;
	position: relative;
}

